services:
  zeebe:
    image: camunda/zeebe:8.5.1
    ports:
      - "26500:26500"   # Zeebe gRPC
      - "9600:9600"     # Zeebe monitoring
    networks:
      - camunda-network

  operate:
    image: camunda/operate:8.5.1
    depends_on:
      - zeebe
    ports:
      - "8081:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/operate
      - SPRING_DATASOURCE_USERNAME=camunda
      - SPRING_DATASOURCE_PASSWORD=camunda
      - OPERATE_ZEEBE_CLIENT_BROKER_CONTACTPOINT=zeebe:26500
    networks:
      - camunda-network

  tasklist:
    image: camunda/tasklist:8.5.1
    depends_on:
      - zeebe
    ports:
      - "8082:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/tasklist
      - SPRING_DATASOURCE_USERNAME=camunda
      - SPRING_DATASOURCE_PASSWORD=camunda
      - TASKLIST_ZEEBE_CLIENT_BROKER_CONTACTPOINT=zeebe:26500
    networks:
      - camunda-network

  optimize:
    image: camunda/optimize:8.5.1
    depends_on:
      - zeebe
      - db
    ports:
      - "8083:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/optimize
      - SPRING_DATASOURCE_USERNAME=camunda
      - SPRING_DATASOURCE_PASSWORD=camunda
      - OPTIMIZE_ZEEBE_CLIENT_BROKER_CONTACTPOINT=zeebe:26500

    networks:
      - camunda-network

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: camunda
      POSTGRES_PASSWORD: camunda
      POSTGRES_DB: operate
    ports:
      - "5432:5432"
    volumes:
      - ./db-init-scripts:/docker-entrypoint-initdb.d/
    networks:
      - camunda-network

  camunda-email-client-app:
    build: .
    depends_on:
      - zeebe
    environment:
      - CAMUNDA_CLIENT_MODE=self-managed
      - CAMUNDA_CLIENT_ZEEBE_GRPC_ADDRESS=zeebe:26500
    ports:
      - "8080:8080"
    networks:
      - camunda-network


networks:
  camunda-network:

